

<div id="content" class="site-content">
						<div class="hmc-container">
        <div id="breadcrumbs" class="centurylib-breadcrumbs-wrapper">
            <div class="breadcrumbs-wrap layout1 no-image" style="background-image:url();" >
                <div class="centurylib-bdcb-container">
                    <div role="navigation" class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb"><ul class="trail-items" itemscope itemtype="http://schema.org/BreadcrumbList"><meta name="numberOfItems" content="2" /><meta name="itemListOrder" content="Ascending" /><li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="trail-item trail-begin"><a href="https://priyankgupta.co.in" rel="home"><span itemprop="name">Home</span></a><meta content="1" /></li><li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="trail-item trail-end"><span itemprop="name">Register</span><meta content="2" /></li></ul></div>                </div><!-- .container -->
            </div>
        </div><!-- #breadcrumb -->
        	<div id="primary" class="content-area main-content-area">

		<main id="main" class="site-main" role="main">
			<article id="post-33" class="post-33 page type-page status-publish hentry pmpro-has-access">
			<div class="hmc-article-thumb">
					</div><!-- .hmc-article-thumb -->
		<header class="entry-header">
		<h1 class="entry-title">Register</h1>	</header><!-- .entry-header -->
	<div class="entry-content">
		
<div class="um um-register um-25">

	<div class="um-form" data-mode="register">



<form method="post" action="../usersubmit" id="myForm">
	<div class="um-row _um_row_1 " style="margin: 0 0 30px 0;"><div class="um-col-1"><div  id="um_field_25_nickname" class="um-field um-field-text  um-field-nickname um-field-text um-field-type_text" data-key="nickname"><div class="um-field-label"><label for="nickname-25">Full Name<span class="um-req" title="Required">*</span></label><div class="um-clear"></div></div><div class="um-field-area"><input  autocomplete="off" class="um-form-field valid " type="text" name="nickname-25" id="name" value="{{name}} " placeholder="" data-validate="" data-key="nickname" required />


						</div></div><div  id="um_field_25_user_login" class="um-field um-field-text  um-field-user_login um-field-text um-field-type_text" data-key="user_login"><div class="um-field-label"><label for="user_login-25">Username (Login ID)<span class="um-req" title="Required">*</span></label><div class="um-clear"></div></div><div class="um-field-area"><input  autocomplete="off" class="um-form-field valid " type="text" name="user_login-25" id="username" value="" placeholder=""  data-key="user_login" required />{{error}}

						</div></div><div  id="um_field_25_mobile_number" class="um-field um-field-text  um-field-mobile_number um-field-text um-field-type_text" data-key="mobile_number"><div class="um-field-label"><label for="mobile_number-25">Mobile Number<span class="um-req" title="Required">*</span></label><div class="um-clear"></div></div><div class="um-field-area"><div class="um-field-icon"><i class="um-faicon-mobile"></i></div><input  autocomplete="off" class="um-form-field valid um-iconed " type="text" name="mobile_number-25" id="mob" value="{{mob}}" placeholder="" data-validate="phone_number" data-key="mobile_number" required />

						</div></div><div  id="um_field_25_user_email" class="um-field um-field-text  um-field-user_email um-field-text um-field-type_text" data-key="user_email"><div class="um-field-label"><label for="user_email-25">E-mail Address<span class="um-req" title="Required">*</span></label><div class="um-clear"></div></div><div class="um-field-area"><input  autocomplete="off" class="um-form-field valid " type="text" name="user_email-25" id="email" value="{{email}}" placeholder="" data-validate="unique_email" data-key="user_email" required />

						</div></div><div  id="um_field_25_user_password" class="um-field um-field-password  um-field-user_password um-field-password um-field-type_password" data-key="user_password"><div class="um-field-label"><label for="user_password-25">Password<span class="um-req" title="Required">*</span></label><div class="um-clear"></div></div><div class="um-field-area"><input class="um-form-field valid " type="password" name="user_password-25" id="password" value="" placeholder="" data-validate="" data-key="user_password" required />

						</div></div><div  id="um_field_25_confirm_user_password" class="um-field um-field-password  um-field-user_password um-field-password um-field-type_password" data-key="confirm_user_password"><div class="um-field-label"><label for="confirm_user_password-25">Confirm Password<span class="um-req" title="Required">*</span></label><div class="um-clear"></div></div><div class="um-field-area"><input class="um-form-field valid " type="password" name="confirm_user_password-25" id="passwordConfirm" value="" placeholder="" data-validate="" data-key="confirm_user_password" required />

								</div></div></div></div>
<!-- This file should primarily consist of HTML with a little bit of PHP. -->
<div class="um-field um-field-type_terms_conditions" data-key="use_terms_conditions_agreement" style="display:block;padding:0;">
	<div class="um-field-area">
		<div class="um-gdpr-content" style="display:none;">
			<p>* You are 18+ years in age.<br />
* This is just a stock market stimulation game and no actual Buying / Selling of stocks is there.<br />
* You are about to login in the portal which is for educational purpose only.<br />
* You can Trade during market hours only.<br />
* Price for the product is only for the software subscription and not for any prize money.<br />
* Prize money awarded is additional benefit of the product and is from company&#8217;s side.<br />
* Praedico is a software company and doesn&#8217;t give any trading advices. Any actual trade taken by the client apart from that on   this software, praedico would not be responsible for the same.<br />
* Actual Stock Market investment is subject to market risk.<br />
* In case of any dispute company reserve all the rights and decision taken by Praedico would be final one.</p>
		</div>

		
		<a href="javascript:void(0);" class="um-toggle-gdpr" data-toggle-state="hidden"
		   data-toggle-show="Show Terms and Conditions"
		   data-toggle-hide="Hide Terms and Conditions">
			Show Terms and Conditions		</a>
	</div>
	<div class="um-field-area">
zzz
		
		<label class="um-field-checkbox">
			<input type="checkbox" name="use_gdpr_agreement" value="1" required>
			<span class="um-field-checkbox-state"><i class="um-icon-android-checkbox-outline-blank"></i></span>
			<span class="um-field-checkbox-option">Please confirm that you agree to our Terms and Conditions</span>
		</label>
		<div class="um-clear"></div>

		
		<div class="um-clear"></div>
	</div>
</div>		<input type="hidden" name="form_id" id="form_id_25" value="25" />
	
	


<script type="text/javascript">
	
		function checkform(){
    var form1 = document.getElementById('myForm')
    if(form1.password.value != form1.passwordConfirm.value)
    {
        alert("Passwords must be the same");
        form1.password.focus();
        
    }
    else
    {form1.submit();}
}

	</script>
	<div class="um-col-alt">

		
			
				<button type="button" onclick="checkform();">Register</button>
			
			<div class="um-right um-half">
				<a href="../login" class="um-button um-alt">
					Login				</a>
			</div>

		
		<div class="um-clear"></div>
</form>
	</div>

			
		

	</div>

</div><style type="text/css">
.um-25.um {
	max-width: 450px;
}</style>

	</div><!-- .entry-content -->

	</article><!-- #post-33 -->
		</main><!-- #main -->
	</div><!-- #primary -->
		<aside id="secondary" class="sidebar-main-area widget-area hamroclass_right_sidebar" role="complementary">
		<section id="custom_html-2" class="widget_text widget widget_custom_html"><h4 class="widget-title"><span class="title-wrapper">Latest News</span></h4><div class="textwidget custom-html-widget"><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: left;
  background-color: #f1f1f1;
  width: 340px;
  padding-top: 2px !important;
  height: 110px;
  margin: 5px;
  border-radius: 13px;
margin-bottom:5px;
}

.card:hover
{
    color:#ccc !important;
} 
</style>
</head>
<body>
            <div class="row">
                <div class="column">
                    <div class="card">
                    <!-- <h3>Card 1</h3> -->
                    <a style="font-family:unset; color:black; font-weight:bold; font-size:16px;" href="https://economictimes.indiatimes.com/markets/stocks/markets/stocks/news/etmgs-2021-day-2-social-media-has-emerged-as-biggest-risk-for-indias-mutual-fund-industry-says-nimesh-shah/videoshow/80391966.cms" target="_blank;" rel="noopener"><p style="text-decoration:none;">ETMGS 2021 Day 2: Social media has emerged as biggest risk for India's mutual fund industry says Nimesh Shah</p></a>
                    <!-- <p>Some text</p> -->
                    </div>
                </div>

                
            </div>

                    <div class="row">
                <div class="column">
                    <div class="card">
                    <!-- <h3>Card 1</h3> -->
                    <a style="font-family:unset; color:black; font-weight:bold; font-size:16px;" href="https://economictimes.indiatimes.com/markets/stocks/markets/stocks/earnings/mphasis-q3-results-net-profit-rises-11-to-rs-325-5-cr/articleshow/80391916.cms" target="_blank;" rel="noopener"><p style="text-decoration:none;">Mphasis Q3 results: Net profit rises 11% to Rs 325.5 cr</p></a>
                    <!-- <p>Some text</p> -->
                    </div>
                </div>

                
            </div>

                    <div class="row">
                <div class="column">
                    <div class="card">
                    <!-- <h3>Card 1</h3> -->
                    <a style="font-family:unset; color:black; font-weight:bold; font-size:16px;" href="https://economictimes.indiatimes.com/markets/stocks/markets/stocks/earnings/south-indian-bank-q3-results-posts-net-loss-of-rs-92-cr/articleshow/80391860.cms" target="_blank;" rel="noopener"><p style="text-decoration:none;">South Indian Bank Q3 results: Posts net loss of Rs 92 cr</p></a>
                    <!-- <p>Some text</p> -->
                    </div>
                </div>

                
            </div>

                    <div class="row">
                <div class="column">
                    <div class="card">
                    <!-- <h3>Card 1</h3> -->
                    <a style="font-family:unset; color:black; font-weight:bold; font-size:16px;" href="https://economictimes.indiatimes.com/markets/stocks/markets/stocks/news/nse-remains-worlds-largest-derivatives-exchange-for-2nd-consecutive-year/articleshow/80391771.cms" target="_blank;" rel="noopener"><p style="text-decoration:none;">NSE remains world's largest derivatives exchange for 2nd consecutive year</p></a>
                    <!-- <p>Some text</p> -->
                    </div>
                </div>

                
            </div>

                    <div class="row">
                <div class="column">
                    <div class="card">
                    <!-- <h3>Card 1</h3> -->
                    <a style="font-family:unset; color:black; font-weight:bold; font-size:16px;" href="https://economictimes.indiatimes.com/markets/stocks/markets/stocks/news/bitcoin-slumps-10-as-pullback-from-record-high-gathers-pace/articleshow/80391230.cms" target="_blank;" rel="noopener"><p style="text-decoration:none;">Bitcoin slumps 10% as pullback from record high gathers pace</p></a>
                    <!-- <p>Some text</p> -->
                    </div>
                </div>

                
            </div>

        </body>
</html></div></section>	</aside><!-- #secondary -->
	</div><!-- .hmc-container -->
</div>