<header id="masthead" class="site-header left">
			<div class="custom-header-media">
	</div>
<div class="hmc-top-header-wrap">
	<div>
					<!--  top marquee begins -->
<CENTER>
    <div  class="top-marquee" style="display: inline; margin-left: 25px;">
      <h4 style="display: inline;"><strong>NIFTY 50  </strong></h4>
      <h5 style="display: inline; margin-right: 4px;" id="NIFTY50LTP"></h5>
      <span id="NIFTY50CHNG" style="margin-right: 4px;"></span>
      <span id="NIFTY50PCHNG"></span>
    </div>  
    <div  class="top-marquee" style="display: inline; margin-left: 25px;">
      <h4 style="display: inline;"><strong>NIFTY BANK  </strong></h4>
      <h5 style="display: inline; margin-right: 4px;" id="NIFTYBANKLTP"></h5>
      <span id="NIFTYBANKCHNG" style="margin-right: 4px;"></span>
      <span id="NIFTYBANKPCHNG"></span>
    </div>  
    <div  class="top-marquee" style="display: inline; margin-left: 25px;">
      <h4 style="display: inline;"><strong>NIFTY ENERGY  </strong></h4>
      <h5 style="display: inline; margin-right: 4px;" id="NIFTYENERGYLTP"></h5>
      <span id="NIFTYENERGYCHNG" style="margin-right: 4px;"></span>
      <span id="NIFTYENERGYPCHNG"></span>
    </div> 
    
    <div  class="top-marquee" style="display: inline; margin-left: 25px;">
      <h4 style="display: inline;"><strong>NIFTY IT  </strong></h4>
      <h5 style="display: inline; margin-right: 4px;" id="NIFTYITLTP"></h5>
      <span id="NIFTYITCHNG" style="margin-right: 4px;"></span>
      <span id="NIFTYITPCHNG"></span>
    </div> 
</CENTER>

<script>

cInterval= setInterval(function loadDoc() {
  var xhttp = new XMLHttpRequest();
  var url = "../updateindices";

  var nifty50ltp = document.getElementById("NIFTY50LTP");
  var nifty50chng = document.getElementById("NIFTY50CHNG");
  var nifty50pchng = document.getElementById("NIFTY50PCHNG");

  var niftyBANKltp = document.getElementById("NIFTYBANKLTP");
  var niftyBANKchng = document.getElementById("NIFTYBANKCHNG");
  var niftyBANKpchng = document.getElementById("NIFTYBANKPCHNG");

  var niftyITltp = document.getElementById("NIFTYITLTP");
  var niftyITchng = document.getElementById("NIFTYITCHNG");
  var niftyITpchng = document.getElementById("NIFTYITPCHNG");

  var niftyENERGYltp = document.getElementById("NIFTYENERGYLTP");
  var niftyENERGYchng = document.getElementById("NIFTYENERGYCHNG");
  var niftyENERGYpchng = document.getElementById("NIFTYENERGYPCHNG");

  var spanclose = "</font>";
  xhttp.onreadystatechange=function() {
  if (this.readyState == 4 && this.status == 200) {
        var data = JSON.parse(this.response);
        var span="";
        
      var change =data["NIFTY50CHNG"];   
        if(change > 0){
       span = "<font color = green>";
      }
      else if(change < 0){
         span = "<font color = red>";
      }
      else{
       span = "<font color = grey>";
      }

      var pchng = span.concat("+",data["NIFTY50PCHNG"], spanclose); 
        nifty50pchng.innerHTML = pchng;
      var ltp = span.concat(data["NIFTY50"], spanclose); 
        nifty50ltp.innerHTML = ltp;
      var chng = span.concat(data["NIFTY50CHNG"], spanclose); 
        nifty50chng.innerHTML = chng;


       change =data["NIFTYBANKCHNG"];   
        if(change > 0){
       span = "<font color = green>";
      }
      else if(change < 0){
         span = "<font color = red>";
      }
      else{
       span = "<font color = grey>";
      }

       pchng = span.concat("+",data["NIFTYBANKPCHNG"], spanclose); 
        niftyBANKpchng.innerHTML = pchng;
       ltp = span.concat(data["NIFTYBANK"], spanclose); 
        niftyBANKltp.innerHTML = ltp;
       chng = span.concat(data["NIFTYBANKCHNG"], spanclose); 
        niftyBANKchng.innerHTML = chng;


       change =data["NIFTYENERGYCHNG"];   
        if(change > 0){
       span = "<font color = green>";
      }
      else if(change < 0){
         span = "<font color = red>";
      }
      else{
       span = "<font color = grey>";
      }

       pchng = span.concat("+",data["NIFTYENERGYPCHNG"], spanclose); 
        niftyENERGYpchng.innerHTML = pchng;
       ltp = span.concat(data["NIFTYENERGY"], spanclose); 
        niftyENERGYltp.innerHTML = ltp;
       chng = span.concat(data["NIFTYENERGYCHNG"], spanclose); 
        niftyENERGYchng.innerHTML = chng;


       change =data["NIFTYITCHNG"];   
        if(change > 0){
       span = "<font color = green>";
      }
      else if(change < 0){
         span = "<font color = red>";
      }
      else{
       span = "<font color = grey>";
      }

       pchng = span.concat("+",data["NIFTYITPCHNG"], spanclose); 
        niftyITpchng.innerHTML = pchng;
       ltp = span.concat(data["NIFTYIT"], spanclose); 
        niftyITltp.innerHTML = ltp;
       chng = span.concat(data["NIFTYITCHNG"], spanclose); 
        niftyITchng.innerHTML = chng;
      
    }
    
  };
  xhttp.open("GET", url, true);
  xhttp.send();
  
}
, 10000);
</script>

<!--   top marquee ends -->
 
				
</div>

<div class="hmc-logo-section-wrapper">
	<div class="hmc-container">
				<div class="site-branding">
							<div class="site-logo">
					<a href="../" class="custom-logo-link" rel="home" aria-current="page"><img width="105" height="101" src="https://priyankgupta.co.in/wp-content/uploads/2020/05/logo-100px.jpg" class="custom-logo" alt="Praedico Stock Trading Simulator" /></a>				</div><!-- .site-logo -->
					</div><!-- .site-branding -->
				<div class="hmc-header-banner-area">
			<div class="header-info-wrapper">
    <div class="header-info-item">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <div class="info-inner-wrap">
            <span>Call Support:</span>
            <a href="tel:8319335916">8319335916</a>
        </div>
    </div>
    <div class="header-info-item">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <div class="info-inner-wrap">
            <span>Email Support: </span>
            <a href="mailto:mail@praedicoglobalresearch.com">mail@praedicoglobalresearch.com</a>
        </div>
    </div>
    <div class="header-info-item">
        <i class="fa fa-whatsapp" aria-hidden="true"></i>
        <div class="info-inner-wrap">
            <span>WhatsApp Support</span>
             <a href="tel:8319335916">8319335916</a>
        </div>
    </div>
</div>		</div><!-- .hmc-header-banner-area -->
	</div>
</div>
<div id="hmc-menu-wrap" class="hmc-header-menu-wrapper">
	<div class="hmc-header-menu-block-wrap">
		<div class="hmc-container">
						<div class="hmc-navigation">
				<a href="javascript:void(0)" class="menu-toggle hide"> <i class="fa fa-navicon"> </i> </a>
				<nav id="site-navigation" class="main-navigation" role="navigation">
					<div class="menu-main-container"><ul id="primary-menu" class="menu"><li id="menu-item-5731" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5539 current_page_item menu-item-5731"><a href="../" aria-current="page">Home</a></li>
<li id="menu-item-7126" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-7126"><a href="#">Nifty50</a>
<ul class="sub-menu">
	<li id="menu-item-5730" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5730"><a href="https://priyankgupta.co.in/stocks-overview/">Show STOCKS</a></li>
	<li id="menu-item-7843" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7843"><a href="https://priyankgupta.co.in/my-watchlist/">My Watchlist</a></li>
</ul>
</li>
<li id="menu-item-7168" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-7168"><a href="#">Learn</a>
<ul class="sub-menu">
	<li id="menu-item-7373" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-7373"><a href="#">Certificate</a>
	<ul class="sub-menu">
		<li id="menu-item-7363" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7363"><a href="https://priyankgupta.co.in/cert/index.php">Fetch Certificate</a></li>
	</ul>
</li>
	<li id="menu-item-7170" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7170"><a href="#">Basics of Stock Market</a></li>
	<li id="menu-item-7171" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7171"><a href="#">Fundamental Anaysis</a></li>
	<li id="menu-item-7172" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7172"><a href="#">Technical Anaysis</a></li>
	<li id="menu-item-7173" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7173"><a href="#">Future and Options</a></li>
	<li id="menu-item-7174" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-7174"><a href="#">Research</a>
	<ul class="sub-menu">
		<li id="menu-item-7175" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7175"><a href="#">Fundamental Research</a></li>
		<li id="menu-item-7176" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7176"><a href="#">Technical Research</a></li>
		<li id="menu-item-7177" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7177"><a href="#">FNO</a></li>
	</ul>
</li>
	<li id="menu-item-7852" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7852"><a href="https://priyankgupta.co.in/pgr-blog-post-2/">Add Article</a></li>
</ul>
</li>
<li id="menu-item-5736" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5736"><a href="../register">Register</a></li>
<li id="menu-item-5732" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5732"><a href="../login">Login</a></li>
</li>
<li id="menu-item-7129" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-7129"><a href="#">Help</a>
<ul class="sub-menu">
	<li id="menu-item-6670" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6670"><a href="https://priyankgupta.co.in/faqs/">FAQs</a></li>
	<li id="menu-item-7161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7161"><a href="https://priyankgupta.co.in/stock-market-terminology/">Stock Market Terminology</a></li>
	<li id="menu-item-7160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7160"><a href="https://priyankgupta.co.in/fundamental-terminology/">Fundamental Terminology</a></li>
	<li id="menu-item-7159" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7159"><a href="https://priyankgupta.co.in/technical-terminology/">Technical Terminology</a></li>
	<li id="menu-item-7158" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7158"><a href="https://priyankgupta.co.in/types-of-orders/">Types of Orders</a></li>
	<li id="menu-item-7860" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7860"><a href="https://priyankgupta.co.in/user-booking-details/">Expert Bookings</a></li>
</ul>
</li>
<li id="menu-item-7128" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-7128"><a href="#">About</a>
<ul class="sub-menu">
	<li id="menu-item-6199" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6199"><a href="https://priyankgupta.co.in/about-us/">About Us</a></li>
	<li id="menu-item-7157" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7157"><a href="https://priyankgupta.co.in/contact-us/">Contact Us</a></li>
	<li id="menu-item-7491" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7491"><a href="https://priyankgupta.co.in/feedback-form/">Feedback</a></li>
	<li id="menu-item-7809" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7809"><a href="https://priyankgupta.co.in/usersreviews/">Users Reviews</a></li>
</ul>
<li id="menu-item-5732" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5732"><a href="../adminlogin">Admin Login</a>
</li>
</ul></div>				</nav><!-- #site-navigation -->
							</div>
		</div>
	</div>
</div><!-- .hmc-header-menu-wrapper -->
		</header>