
						<div class="hmc-container">
        <div id="breadcrumbs" class="centurylib-breadcrumbs-wrapper">
            <div class="breadcrumbs-wrap layout1 no-image" style="background-image:url();" >
                <div class="centurylib-bdcb-container">
                    <div role="navigation" class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb"><ul class="trail-items" itemscope itemtype="http://schema.org/BreadcrumbList"><meta name="numberOfItems" content="2" /><meta name="itemListOrder" content="Ascending" /><li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="trail-item trail-begin"><a href="https://priyankgupta.co.in" rel="home"><span itemprop="name">Home</span></a><meta content="1" /></li><li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="trail-item trail-end"><span itemprop="name">Login</span><meta content="2" /></li></ul></div>                </div><!-- .container -->
            </div>
        </div><!-- #breadcrumb -->
        	<div id="primary" class="content-area main-content-area">

		<main id="main" class="site-main" role="main">
			<article id="post-31" class="post-31 page type-page status-publish hentry pmpro-has-access">
			<div class="hmc-article-thumb">
					</div><!-- .hmc-article-thumb -->
		<header class="entry-header">
		<h1 class="entry-title">Login</h1>	</header><!-- .entry-header -->
	<div class="entry-content">
		
<div class="um um-login um-26">

	<div class="um-form">

		<form method="post" action="" autocomplete="off">

			<div class="um-row _um_row_1 " style="margin: 0 0 30px 0;"><div class="um-col-1"><div  id="um_field_26_username" class="um-field um-field-text  um-field-username um-field-text um-field-type_text" data-key="username"><div class="um-field-label"><label for="username-26">Username or E-mail<span class="um-req" title="Required">*</span></label><div class="um-clear"></div></div><div class="um-field-area"><input  autocomplete="off" class="um-form-field valid " type="text" name="username-26" id="username-26" value="" placeholder="" data-validate="unique_username_or_email" data-key="username" />

						</div></div><div  id="um_field_26_user_password" class="um-field um-field-password  um-field-user_password um-field-password um-field-type_password" data-key="user_password"><div class="um-field-label"><label for="user_password-26">Password<span class="um-req" title="Required">*</span></label><div class="um-clear"></div></div><div class="um-field-area"><input class="um-form-field valid " type="password" name="user_password-26" id="user_password-26" value="" placeholder="" data-validate="" data-key="user_password" />

						</div></div></div></div>		<input type="hidden" name="form_id" id="form_id_26" value="26" />
	
	<p class="um_request_name">
		<label for="um_request_26">Only fill in if you are not human</label>
		<input type="hidden" name="um_request" id="um_request_26" class="input" value="" size="25" autocomplete="off" />
	</p>

	<input type="hidden" id="_wpnonce" name="_wpnonce" value="3ee8c36cc1" /><input type="hidden" name="_wp_http_referer" value="/login/" />
<div class="um-field">
	<div class="g-recaptcha" id="um-26"  data-type="image"  data-size="normal"  data-theme="light"  data-sitekey="6Lc0qQ8UAAAAANG07Nb3Dd40LpiAeEEjkpfmTp52" ></div>
</div>


<script type="text/javascript">
	
		var onloadCallback = function () {
			jQuery('.g-recaptcha').each( function (i) {
				grecaptcha.render( jQuery(this).attr('id'), {
					'sitekey': jQuery(this).attr('data-sitekey'),
					'theme': jQuery(this).attr('data-theme')
				});
			});
		};

		function um_recaptcha_refresh() {
			jQuery('.g-recaptcha').html('');
			grecaptcha.reset();
			onloadCallback();
		}

	</script>
	<div class="um-col-alt">

		

			<div class="um-field um-field-c">
				<div class="um-field-area">
					<label class="um-field-checkbox ">
						<input type="checkbox" name="rememberme" value="1"  />
						<span class="um-field-checkbox-state"><i class="um-icon-android-checkbox-outline-blank"></i></span>
						<span class="um-field-checkbox-option"> Keep me signed in</span>
					</label>
				</div>
			</div>

						<div class="um-clear"></div>
		
			<div class="um-left um-half">
				<input type="submit" value="Login" class="um-button" id="um-submit-btn" />
			</div>
			<div class="um-right um-half">
				<a href="https://priyankgupta.co.in/register/" class="um-button um-alt">
					Register				</a>
			</div>

		
		<div class="um-clear"></div>

	</div>

	
	<div class="um-col-alt-b">
		<a href="https://priyankgupta.co.in/password-reset/" class="um-link-alt">
			Forgot your password?		</a>
	</div>

	
		</form>

	</div>

</div><style type="text/css">
.um-26.um {
	max-width: 450px;
}</style>

	</div><!-- .entry-content -->

	</article><!-- #post-31 -->
		</main><!-- #main -->
	</div><!-- #primary -->
	</div><!-- .hmc-container -->
