
<!doctype html>
<html lang="en-US">
<head>{% include 'layouts/home_head.html' %}
<link rel=”stylesheet” href=”https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css&#8221; />
</head>

<body class="home page-template-default page page-id-5539 wp-custom-logo theme-hamroclass pmpro-body-has-access woocommerce-no-js hmc_fullwidth_layout no-sidebar wpb-js-composer js-comp-ver-6.4.2 vc_responsive elementor-default elementor-kit-7653"><a class="skip-link screen-reader-text" href="#content">Skip to content</a>
		<div id="page" class="site">


				{% include 'dashboard-layouts/header.html' %}


	{% include 'layouts/home_body.html' %}


{% include 'layouts/home_footer.html' %}

{% include 'layouts/home_additonal_body_contents.html' %}
</html>
