<!doctype html>
<html lang="en-US">
<head>{% include 'layouts/home_head.html' %}
</head>

<body class="pmpro-login page-template-default page page-id-31 wp-custom-logo um-page-login um-page-loggedout theme-hamroclass pmpro-body-has-access woocommerce-no-js hmc_fullwidth_layout no-sidebar wpb-js-composer js-comp-ver-6.4.2 vc_responsive elementor-default elementor-kit-7653"><a class="skip-link screen-reader-text" href="#content">Skip to content</a>
		<div id="page" class="site">


				{% include 'layouts/home_header.html' %}


	{% include 'layouts/register_body.html' %}


{% include 'layouts/home_footer.html' %}
{% include 'layouts/home_additonal_body_contents.html' %}

</html>
