<!doctype html>
<html lang="en-US">
<head>{% include 'layouts/home_head.html' %}
<link rel=”stylesheet” href=”https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css&#8221; />
</head>

<body class="home page-template-default page page-id-5539 wp-custom-logo theme-hamroclass pmpro-body-has-access woocommerce-no-js hmc_fullwidth_layout no-sidebar wpb-js-composer js-comp-ver-6.4.2 vc_responsive elementor-default elementor-kit-7653"><a class="skip-link screen-reader-text" href="#content">Skip to content</a>
    <div id="page" class="site">


        {% include 'dashboard-layouts/header.html' %}

        <h6 style="text-align: : right;"><b>Last Updated : <span id = "last_update"><span> </b></h6>
<center>
    <input type="text" placeholder="Search Stocks Here!.." onkeyup="searchFunction(this)" id="myInput" style="width: 50%;">

    <script>
    function searchFunction(e){
        var filter,table,tr,td,i,textvalue;
        filter=e.value.toUpperCase();
        
        
        table=document.getElementById("myTable123");
        tr=table.getElementsByTagName("tr");
        console.log(tr.length);
        for(i=0;i<tr.length;i++){
            td=tr[i].getElementsByTagName("td")[0];
            if(td)
            {
                textvalue=td.textContent || td.innerHTML;
                if(textvalue.toUpperCase().indexOf(filter)>-1)
                {
                    tr[i].style.display="";
                }
                else{
                    tr[i].style.display="none";
                }

            }
        }
    }
</script>
<table style="width: 50%; margin-top: 30px;" id="myTable123">
    <thead>
      <tr>
              <th>Company Name</th>
              <th class="smw-tablesort smw-Decimal">Last Price</th>
              <th class="smw-tablesort smw-Decimal">Change</th>
              <th class="smw-tablesort smw-Percent">% Change</th>
      </tr>
    </thead>
    <tbody>

      {% for ticker in stocks%}
      <tr>

      <td><a href="../stockpage/?ticker={{ticker}}" target="_blank"> <strong>{{ticker}}</strong></a></td>
              <td class="smw-tablesort smw-Decimal"  id="{{ticker}}cmp"></td>
              <td class="smw-tablesort smw-Decimal" id="{{ticker}}chng"></td>
              <td class="smw-tablesort smw-Percent" id="{{ticker}}pchng"></td>
              
          </tr>
          
      {%endfor%}

  <script>

      var currentD = new Date();
    var startHourD = new Date();
    startHourD.setHours(9,15,0); // 9.15 am
    var endHourD = new Date();
    endHourD.setHours(15,30,0); // 3.30 pm

    if(currentD.getTime() >= startHourD.getTime() && currentD.getTime() < endHourD ){
        refreshDATA();
    }
     else{
      loadDoc();
     }

    function refreshDATA() {    cInterval= setInterval(loadDoc, 5000);   }

    function loadDoc() {
  var xhttp = new XMLHttpRequest();
  var url = "../updateindexpage/?ticker=";
  var indexname = "{{index}}"

 var i;
 xhttp.onreadystatechange=function() {
  if (this.readyState == 4 && this.status == 200) {
    var data = JSON.parse(this.responseText);
    if (data != "True"){
for (i=0;i<data["ticker"].length;i++){
  var tickercmp = data["ticker"][i].concat("cmp");
  var tickerchng = data["ticker"][i].concat("chng");
  var tickerpchng = data["ticker"][i].concat("pchng");
  var cmp = document.getElementById(tickercmp);
  var chng = document.getElementById(tickerchng);
    var pchng = document.getElementById(tickerpchng);
    var spanclose = "</font>";

    var change =data["chng"][i];

      var span="";
          
        if(change[0] == "-"){
       span = "<font color = red>";
      }
      else if(change == 0){
         span = "<font color = grey>";
      }
      else{
       span = "<font color = green>";
      }
 
      var pchng1 = span.concat(data["pchng"][i], spanclose); 
        pchng.innerHTML = pchng1;
      var chng1 = span.concat(data["chng"][i], spanclose); 
        chng.innerHTML = chng1;
      var cmp1 = span.concat(data["price"][i], spanclose); 
        cmp.innerHTML = cmp1;
      
    }
var currentD = new Date();
    document.getElementById("last_update").innerHTML =currentD.getFullYear()+'/'+(currentD.getMonth()+1)+'/'+currentD.getDate()+" - " +currentD.getHours() + ":" + currentD.getMinutes() + ":" + currentD.getSeconds();
  }
    
  };

}
  
  xhttp.open("GET", url+indexname, true);
  xhttp.send();
  
}


</script>
    </tbody>
</table>
</center>


{% include 'layouts/home_footer.html' %}

{% include 'layouts/home_additonal_body_contents.html' %}
</html>
