<!doctype html>
<html lang="en-US">
<head>{% include 'layouts/home_head.html' %}
<link rel=”stylesheet” href=”https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css&#8221; />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="home page-template-default page page-id-5539 wp-custom-logo theme-hamroclass pmpro-body-has-access woocommerce-no-js hmc_fullwidth_layout no-sidebar wpb-js-composer js-comp-ver-6.4.2 vc_responsive elementor-default elementor-kit-7653"><a class="skip-link screen-reader-text" href="#content">Skip to content</a>
		<div id="page" class="site">


				{% include 'dashboard-layouts/header.html' %}

<h6 style="text-align: : right;">Last Updated : <span id = "last_update"><span></h6>

<center>
  <H3><b>Nifty 50 Components</b></H3>
    <input type="text" placeholder="Search Stocks Here!.." onkeyup="searchFunction(this)" id="myInput" style="width: 60%;">

    <script>
    function searchFunction(e){
        var filter,table,tr,td,i,textvalue;
        filter=e.value.toUpperCase();
        
        
        table=document.getElementById("myTable123");
        tr=table.getElementsByTagName("tr");
        console.log(tr.length);
        for(i=0;i<tr.length;i++){
            td=tr[i].getElementsByTagName("td")[0];
            if(td)
            {
                textvalue=td.textContent || td.innerHTML;
                if(textvalue.toUpperCase().indexOf(filter)>-1)
                {
                    tr[i].style.display="";
                }
                else{
                    tr[i].style.display="none";
                }

            }
        }
    }


</script>
<table style="width: 60%; margin-top:40px" id="myTable123">
   <thead>
      <tr>
              <th>Symbol</th>
              <th>Company Name</th>
              <th class="smw-tablesort smw-Decimal">Last Price</th>
              <th class="smw-tablesort smw-Decimal">Change</th>
              <th class="smw-tablesort smw-Percent">% Change</th>
      </tr>
    </thead>
    <tbody>

    	{% for ticker in stocks%}
    	<tr>
    	<td><a href="../stockpage/?ticker={{ticker.0}}" target="_blank"> <strong>{{ticker.0}}</strong></a></td>
              <td>{{ticker.6}}</td>
              <td class="smw-tablesort smw-Decimal"  id="{{ticker.0}}cmp">{{ticker.2}}</td>
              <td class="smw-tablesort smw-Decimal" id="{{ticker.0}}chng"></td>
              <td class="smw-tablesort smw-Percent" id="{{ticker.0}}pchng"></td>
              
          </tr>
          
    	{%endfor%}

  <script>

    	var currentD = new Date();
		var startHourD = new Date();
		startHourD.setHours(9,15,0); // 9.15 am
		var endHourD = new Date();
		endHourD.setHours(15,30,0); // 3.30 pm

		if(currentD.getTime() >= startHourD.getTime() && currentD.getTime() < endHourD ){
		    refreshDATA();
		}
		 else{
		  loadDoc();
		 }

		function refreshDATA() {    cInterval= setInterval(loadDoc, 30000);   }

		function loadDoc() {
  var xhttp = new XMLHttpRequest();
  var url = "../updateshownifty50";

  var tickers = ['ADANIPORTS.NS', 'ASIANPAINT.NS', 'AXISBANK.NS', 'BAJAJ-AUTO.NS', 'BAJAJFINSV.NS', 'BAJFINANCE.NS', 'BHARTIARTL.NS', 'BPCL.NS', 'BRITANNIA.NS', 'CIPLA.NS', 'COALINDIA.NS', 'DIVISLAB.NS', 'DRREDDY.NS', 'EICHERMOT.NS', 'GAIL.NS', 'GRASIM.NS', 'HCLTECH.NS', 'HDFC.NS', 'HDFCBANK.NS', 'HDFCLIFE.NS', 'HEROMOTOCO.NS', 'HINDALCO.NS', 'HINDUNILVR.NS', 'ICICIBANK.NS', 'INDUSINDBK.NS', 'INFY.NS', 'IOC.NS', 'ITC.NS', 'JSWSTEEL.NS', 'KOTAKBANK.NS', 'LT.NS', 'M&M.NS', 'MARUTI.NS', 'NESTLEIND.NS', 'NTPC.NS', 'ONGC.NS', 'POWERGRID.NS', 'RELIANCE.NS', 'SBILIFE.NS', 'SBIN.NS', 'SHREECEM.NS', 'SUNPHARMA.NS', 'TATAMOTORS.NS', 'TATASTEEL.NS', 'TCS.NS', 'TECHM.NS', 'TITAN.NS', 'ULTRACEMCO.NS', 'UPL.NS', 'WIPRO.NS'];
 var i;
 xhttp.onreadystatechange=function() {
 	if (this.readyState == 4 && this.status == 200) {
 		var data = JSON.parse(this.responseText);
for (i=0;i<50;i++){
	var tickercmp = tickers[i].concat("cmp");
	var tickerchng = tickers[i].concat("chng");
	var tickerpchng = tickers[i].concat("pchng");
	var cmp = document.getElementById(tickercmp);
 	var chng = document.getElementById(tickerchng);
  	var pchng = document.getElementById(tickerpchng);
  	var spanclose = "</font>";

    var change =data["chng"][i];

      var span="";
          
        if(change > 0){
       span = "<font color = green>";
      }
      else if(change < 0){
         span = "<font color = red>";
      }
      else{
       span = "<font color = grey>";
      }
 
      var pchng1 = span.concat(data["pchng"][i], spanclose); 
        pchng.innerHTML = pchng1;
      var chng1 = span.concat(data["chng"][i], spanclose); 
        chng.innerHTML = chng1;
      var cmp1 = span.concat(data["price"][i], spanclose); 
        cmp.innerHTML = cmp1;
      
    }
    var currentD = new Date();
    document.getElementById("last_update").innerHTML =currentD.getFullYear()+'/'+(currentD.getMonth()+1)+'/'+currentD.getDate()+" - " +currentD.getHours() + ":" + currentD.getMinutes() + ":" + currentD.getSeconds();
  };

}
  
  xhttp.open("GET", url, true);
  xhttp.send();
  
}

$$(document).on('page:beforeout', function () { clearInterval(cInterval); });
</script>
    </tbody>
</table>
</center>


{% include 'layouts/home_footer.html' %}

{% include 'layouts/home_additonal_body_contents.html' %}
</html>
