<!doctype html>
<html lang="en-US">
<head>{% include 'layouts/home_head.html' %}
<link rel=”stylesheet” href=”https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css&#8221; />
</head>

<body class="home page-template-default page page-id-5539 wp-custom-logo theme-hamroclass pmpro-body-has-access woocommerce-no-js hmc_fullwidth_layout no-sidebar wpb-js-composer js-comp-ver-6.4.2 vc_responsive elementor-default elementor-kit-7653"><a class="skip-link screen-reader-text" href="#content">Skip to content</a>
		<div id="page" class="site">


				{% include 'dashboard-layouts/header.html' %}

<center>

  <br><br>
    <input type="text" placeholder="Search Stocks Here!.." onkeyup="searchFunction(this)" id="myInput" style="width: 50%;">

    <script>
    function searchFunction(e){
        var filter,table,tr,td,i,textvalue;
        filter=e.value.toUpperCase();
        
        
        table=document.getElementById("myTable123");
        tr=table.getElementsByTagName("tr");
        console.log(tr.length);
        for(i=0;i<tr.length;i++){
            td=tr[i].getElementsByTagName("td")[0];
            if(td)
            {
                textvalue=td.textContent || td.innerHTML;
                if(textvalue.toUpperCase().indexOf(filter)>-1)
                {
                    tr[i].style.display="";
                }
                else{
                    tr[i].style.display="none";
                }

            }
        }
    }
</script>

<table style="width: 50%; margin-top: 50px;" id="myTable123">
  <colgroup>
    <col span="1" style="width: 30%">
    <col span="1" style="width: 15%">
    <col span="1" style="width: 15%">
    <col span="1" style="width: 15%">
  </colgroup>
    <thead>
      <tr>

              <th>Company Name</th>
              <th class="smw-tablesort smw-Decimal">Last Price</th>
              <th class="smw-tablesort smw-Decimal">Change</th>
              <th class="smw-tablesort smw-Percent">% Change</th>
      </tr>
    </thead>
    <tbody>

    	{% for ticker in stocks%}
    	<tr>
    	<td><a href="../stockpage/?ticker={{ticker}}" target="_blank"> <strong>{{ticker}}</strong></a></td>

              <td class="smw-tablesort smw-Decimal"  id="{{ticker}}cmp"></td>
              <td class="smw-tablesort smw-Decimal" id="{{ticker}}chng"></td>
              <td class="smw-tablesort smw-Percent" id="{{ticker}}pchng"></td>

          </tr>

    	{%endfor%}

  <script>

    	var currentD = new Date();
		var startHourD = new Date();
		startHourD.setHours(9,15,0); // 9.15 am
		var endHourD = new Date();
		endHourD.setHours(15,30,0); // 3.30 pm

		if(currentD.getTime() >= startHourD.getTime() && currentD.getTime() < endHourD )
    {
		    refreshDATA();
		}
		 else{
		  loadDoc();
		 }

		function refreshDATA() {    cInterval= setInterval(loadDoc, 40000);   }

		function loadDoc() {
  var xhttp = new XMLHttpRequest();
  var url = "../tempupdateshownifty500";
 var i=0;
 xhttp.onreadystatechange=function() {
 	/*if (this.readyState == 4 && this.status == 200) {*/
    
    
 		var data = JSON.parse(this.responseText);
    if (data != "True"){
    console.log(data[1]["ticker"])
    
for (i=0;i<489;i++){
  var tick = data[i]["ticker"]
	var tickercmp = tick.concat("cmp");
	var tickerchng = tick.concat("chng");
	var tickerpchng = tick.concat("pchng");
	var cmp = document.getElementById(tickercmp);
 	var chng = document.getElementById(tickerchng);
  	var pchng = document.getElementById(tickerpchng);
  	var spanclose = "</font>";
  	

    var change =data[i]["chng"];

      var span="";

        if(change > 0){
       span = "<font color = green>";
      }
      else if(change < 0){
         span = "<font color = red>";
      }
      else{
       span = "<font color = grey>";
      }

      var pchng1 = span.concat(data[i]["pchng"], spanclose);
        pchng.innerHTML = pchng1;
      var chng1 = span.concat(data[i]["chng"], spanclose);
        chng.innerHTML = chng1;
      var cmp1 = span.concat(data[i]["price"], spanclose);
        cmp.innerHTML = cmp1;

    }
    

}
};

  xhttp.open("GET", url, true);
  xhttp.send();

}

</script>


</script>

    </tbody>
  <script>
    function myFunction(){
        var input,filter,table,tr,td,i,textvalue;
        input=document.getElementById("myInput")
        filter=input.value.toUpperCase();
        table=document.getElementById("myTable");
        tr=table.getElementsByTagName("tr");
        for(i=0;i<tr.length;i++){
            td=tr[i].getElementsByTagName("td")[0];
            if(td)
            {
                textvalue=td.textContent || td.innerHTML;
                if(textvalue.toUpperCase().indexOf(filter)>-1)
                {
                    tr[i].style.display="";
                }
                else{
                    tr[i].style.display="none";
                }

            }
        }
    }
</script>

    </tbody>
</table>
</center>


{% include 'layouts/home_footer.html' %}

{% include 'layouts/home_additonal_body_contents.html' %}
</html>
</html>