<!doctype html>
<html lang="en-US">
<head>{% include 'layouts/home_head.html' %}
<link rel=”stylesheet” href=”https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css&#8221; />
</head>

<body class="home page-template-default page page-id-5539 wp-custom-logo theme-hamroclass pmpro-body-has-access woocommerce-no-js hmc_fullwidth_layout no-sidebar wpb-js-composer js-comp-ver-6.4.2 vc_responsive elementor-default elementor-kit-7653"><a class="skip-link screen-reader-text" href="#content">Skip to content</a>
		<div id="page" class="site">


				{% include 'dashboard-layouts/header.html' %}

<table>
    <thead>
      <tr>
              <th>Symbol</th>
              <th>Company Name</th>
              <th class="smw-tablesort smw-Decimal">Last Price</th>
              <th class="smw-tablesort smw-Decimal">Change</th>
              <th class="smw-tablesort smw-Percent">% Change</th>
              <th class="smw-tablesort smw-Int">Market Cap</th>

      </tr>
    </thead>
    <tbody>

    	{% for ticker in stocks%}
    	<tr>
    	<td>{{ticker.0}}</td>
              <td>{{ticker.6}}</td>
              <td class="smw-tablesort smw-Decimal"  id="{{ticker.0}}cmpaa">{{ticker.2}}</td>
              <td class="smw-tablesort smw-Decimal" id="{{ticker.0}}chng"></td>
              <td class="smw-tablesort smw-Percent" id="{{ticker.0}}pchng"></td>
              <td class="smw-tablesort smw-Int"></td>
          </tr>
          
    	{%endfor%}

    	<script>

cInterval= setInterval(function loadDoc() {
  var xhttp = new XMLHttpRequest();
  var url = "../updateshownifty50";

  var tickers = ['ADANIPORTS.NS', 'ASIANPAINT.NS', 'AXISBANK.NS', 'BAJAJ-AUTO.NS', 'BAJAJFINSV.NS', 'BAJFINANCE.NS', 'BHARTIARTL.NS', 'BPCL.NS', 'BRITANNIA.NS', 'CIPLA.NS', 'COALINDIA.NS', 'DIVISLAB.NS', 'DRREDDY.NS', 'EICHERMOT.NS', 'GAIL.NS', 'GRASIM.NS', 'HCLTECH.NS', 'HDFC.NS', 'HDFCBANK.NS', 'HDFCLIFE.NS', 'HEROMOTOCO.NS', 'HINDALCO.NS', 'HINDUNILVR.NS', 'ICICIBANK.NS', 'INDUSINDBK.NS', 'INFY.NS', 'IOC.NS', 'ITC.NS', 'JSWSTEEL.NS', 'KOTAKBANK.NS', 'LT.NS', 'M&M.NS', 'MARUTI.NS', 'NESTLEIND.NS', 'NTPC.NS', 'ONGC.NS', 'POWERGRID.NS', 'RELIANCE.NS', 'SBILIFE.NS', 'SBIN.NS', 'SHREECEM.NS', 'SUNPHARMA.NS', 'TATAMOTORS.NS', 'TATASTEEL.NS', 'TCS.NS', 'TECHM.NS', 'TITAN.NS', 'ULTRACEMCO.NS', 'UPL.NS', 'WIPRO.NS'];
 var i;
for (i=0;i<50;i++){
	var tickercmp = tickers[i].concat("cmp");
	var tickerchng = tickers[i].concat("chng");
	var tickerpchng = tickers[i].concat("pchng");
	var cmp = document.getElementById(tickercmp);
  var chng = document.getElementById(tickerchng);
  var pchng = document.getElementById(tickerpchng);

  xhttp.onreadystatechange=function() {
  	 var data = JSON.parse(this.responseText);
  	 console.log(tickercmp);
  	 console.log(i);
  if (this.readyState == 4 && this.status == 200) {
        var price = parseFloat(this.responseText);
     	
        var change =data["chng"][i];

      var span="";
          
        if(change > 0){
       span = "<font color = green>";
      }
      else if(change < 0){
         span = "<font color = red>";
      }
      else{
       span = "<font color = grey>";
      }
      console.log(data["pchng"])
      var pchng1 = span.concat(data["pchng"][i], spanclose); 
        pchng.innerHTML = pchng1;
      var chng1 = span.concat(data["chng"][i], spanclose); 
        chng.innerHTML = chng1;
      var cmp1 = span.concat(data["cmp"][i], spanclose); 
        cmp.innerHTML = cmp1;
      
    }
    
  };

}
  
  xhttp.open("GET", url, true);
  xhttp.send();
  
}
, 10000);
$$(document).on('page:beforeout', function () { clearInterval(cInterval); });
</script>
    </tbody>
</table>



{% include 'layouts/home_footer.html' %}

{% include 'layouts/home_additonal_body_contents.html' %}
</html>
